@import url(https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@1,100&display=swap);
/* 
Root options
*/
::selection {
  background: #ffb7b7; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #ffb7b7; /* Gecko Browsers */
}
:root {
  --white: rgb(255, 255, 255);
  --black: rgb(4, 4, 12);
}
body{
  background-color: rgb(4, 4, 12);
  background-color: var(--black);
  color: rgb(255, 255, 255);
  color: var(--white);
  font-family: 'IBM Plex Serif', serif;
}


/*
Landing
*/
.kickback{
  width: 100%;
  text-align: center;
  font-size: 4vh;
}
.title{
  margin-top: 30vh;
  padding-bottom: 30vh;
  position: sticky;
  top: 0;
}
.scroll-button{
  font-family: serif;
}
.scroll-button:hover{
  cursor: pointer;
}


/*
Media
*/
.new-video{
  padding-top: 45vh;
  padding-bottom: 75px;
}
.new-video-title{
  padding-bottom: 20px;
}
.youtube-player {
  width:  90vw;
  height: 50.625vw;
  line-height: 0;
}
.new-songs{
  padding-bottom: 10vh;
}
.soundcloud{
  display: inline-block;
  padding: 5vw;
  width: 80vw;
}
.song-title{
  padding: 2vw;
}
@media all and (min-width: 601px) {
  .soundcloud{
    width: 35vw;
  }
}


/*
Merch
*/
.clothing{
  margin-bottom: 10vh;
  background-color: rgb(255, 255, 255);
  background-color: var(--white);
  height: 6vh;
  padding-top: 1vh;
  margin-left: 10vw;
  margin-right: 10vw;
  transition: all .5s ease-in;
  cursor: pointer;
  border: 1px solid rgb(255, 255, 255);
  border: 1px solid var(--white);
}
.clothing:hover{
  background-color: rgb(4, 4, 12);
  background-color: var(--black);
}
.clothing > a:visited, .clothing > a:link, .clothing > a:active
{
  text-decoration: underline;
  color: rgb(4, 4, 12);
  color: var(--black);
}
.clothing:hover .clothing-link {
  text-decoration: underline;
  font-weight: 700;
  color: rgb(255, 255, 255);
  color: var(--white)
}


/*
Social Links
*/
.socials{
  padding-bottom: 10vh;
  font-size: 3vh;
}
.insta{
  padding: 1vh;
  margin-bottom: 3vh;
}
.insta > a:hover, .insta > a:visited, .insta > a:link, .insta > a:active
{
  text-decoration: underline;
  font-family: serif;
  color: rgb(255, 255, 255);
  color: var(--white);
}
